//out: style.min.css, sourcemap: false, compress: true
@bg: #fff;
@item: #0078d3;
@text: #333;

html, body{
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: @bg;
  color: @text;
  margin: 0;
  padding: 0;
}
.content{
  background-color:@bg;
  .title{
    min-width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: @item;
    color: #fff;
  }
  .option{
    min-width: 350px;
    margin: 15px 0;
    .text{
      padding-left: 15px;
      height: 40px;
      display: inline-block;
      line-height: 40px;
    }
    select{
      float: right;
      min-width: 200px;
      font-size: 15px;
      line-height: 40px;
      margin: 10px 10px 10px 0;
    }

    @import "switch.less";
  }
}
